@import url("./cyan.css");

@page {
    marks: crop cross;
}

p {
    text-spacing: auto;
    color: lab(-5.820072174072266 3.334176540374756 0.8003358244895935 / none);
}

.magenta-legacy {
    color: lab(48.711612701416016 81.90142059326172 -4.223336696624756);
}

.magenta-modern {
    color: lab(48.711612701416016 81.90142059326172 -4.223336696624756);
}

.yellow-legacy {
    color: lab(94.20964050292969 -8.096773147583008 105.33280181884766);
}

.yellow-modern {
    color: lab(94.20964050292969 -8.096773147583008 105.33280181884766);
}

.key-legacy {
    color: lab(9.7965669631958 4.899829387664795 4.189541339874268);
}

.key-modern {
    color: lab(9.7965669631958 4.899829387664795 4.189541339874268);
}

.gradient {
    background: linear-gradient(to right, lab(57.829795837402344 -41.19467544555664 -53.77507781982422) 0%, lab(48.711612701416016 81.90142059326172 -4.223336696624756) 100%);
}